/* Top Header */
#top-header {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 rem(24) !important;
    font-weight: $semibold;

    &:after {
      display: none;
    }
  }

  .et-social-icon {
    a {
      font-size: inherit !important;
    }
  }
}

#et-info {
  padding: rem(5.5) 0;
}

#et-secondary-nav {
  a {
    padding: 0 !important;
  }
}

/* Main Header */
#main-header {
  top: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include elevation(1);

  transition: 0.3s ease;

  &.et-fixed-header {
    @include elevation(2);
  }

  .container {
    padding: 0 rem(24) !important;
  }
}

#et-top-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;

  // padding: 0 !important;

  li {
    padding: 0;

    &.current_page_item {
      a {
        border-bottom: rem(2) solid $white;
      }
    }

    &.menu-item-has-children {
      a {
        &:after {
          position: initial !important;
          margin: 0 0 0 rem(8);
          font-size: rem(14) !important;
        }
      }
    }

    &.mega-menu {
      > ul {
        width: auto !important;
        min-width: 100%;

        > li {
          padding: rem(8) 0 !important;

          > a:first-child {
            width: auto;
            max-width: auto !important;
            padding: rem(10) rem(24) !important;
            padding-top: rem(10) !important;
            border-bottom: 0 !important;
          }
        }

        ul {
          @include elevation(0);
        }
      }
    }

    ul {
      top: calc(100% - 8px);
      border: 0 !important;
      padding: 0 !important;

      @include elevation(2);

      transition: all 0.2s ease-in-out !important;

      ul {
        top: 0;
      }
    }

    li {
      width: 100%;
      padding: 0;

      a {
        width: 100%;
        max-width: auto !important;
        margin: 0;
        padding: rem(10) rem(24) !important;

        &:hover {
          background: rgba($black, 0.1);
          opacity: 1 !important;
        }
      }
    }
  }

  a {
    font-weight: $semibold;
    padding-right: rem(12) !important;
    padding-left: rem(12) !important;

    // padding: rem(24) rem(12) !important;
    box-sizing: border-box;
  }
}

#top-menu {
  li {
    &.mega-menu {
      li {
        ul {
          width: auto !important;

          li {
            float: none !important;
          }
        }

        a {
          max-width: none !important;
        }
      }
    }
  }
}

#et_top_search {
  width: rem(40);
  height: rem(40);
  margin: 0 0 0 rem(12);

  // line-height: rem(40);
  // text-align: center;
}

#et_search_icon {
  &:before {
    position: initial;
    top: 0;
    left: 0;
    font-size: rem(14);
    vertical-align: top;
  }
}

.et_search_outer {
  right: 0;
  height: 100%;
}