.et_pb_module {
  &.et_pb {
    // Acordion
    &_accordion {
      &.et_pb_accordion_toggling {
        .et_pb_toggle_open {
          left: 0%;
          width: 100%;

          @include elevation(1);

          margin: 0 !important;
        }
      }

      .et_pb_toggle {
        background: $white;
        border: 0;

        @include elevation(1);

        margin: 0 !important;
        border-bottom: rem(1) solid rgba($black, 0.05);
        transition: 0.3s ease;

        &.et_pb_toggle_open {
          position: relative;
          left: -2%;
          width: 104%;

          @include elevation(3);

          margin: rem(24) 0 !important;
        }
      }
    }

    // Audio Module
    &_audio_module {
      border-radius: rem(2);

      @include elevation(1);
    }

    // Counter Module
    &_counters {
      .et_pb_counter_title,
      .et_pb_counter_amount_number {
        display: none;
      }

      .et_pb_counter_container {
        margin: 0 0 rem(12);
      }

      .et_pb_counter_amount {
        min-height: rem(4);
      }
    }

    // Blog Module
    &_posts {
      article {
        background: $white;
        border-radius: rem(2);

        @include elevation(1);

        margin: 0 0 rem(8);
        padding: rem(16);
        overflow: hidden;

        &.has-post-thumbnail {
          > a {
            &:first-child {
              display: block;
              margin: rem(-16) rem(-16) 0;
            }
          }

          h2 {
            margin: rem(16) 0 0;
          }
        }

        h2 {
          margin: 0;
        }
      }
    }

    // Blog Grid Module
    &_blog_grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .column {
        &.size {
          &-1of1 {
            article {
              margin: 0 0 rem(8) !important;
            }
          }

          &-1of2 {
            width: percentage(1 / 2) !important;
            padding: 0 rem(4);
            margin: 0 !important;
          }

          &-1of3 {
            width: percentage(1 / 3) !important;
            padding: 0 rem(4);
            margin: 0 !important;
          }
        }
      }

      article {
        background: $white;
        border: 0;
        border-radius: rem(2);

        @include elevation(1);

        margin: 0 0 rem(8);
        padding: rem(16);
        overflow: hidden;

        .et_pb_image_container {
          margin: rem(-16) rem(-16) 0;
        }
      }
    }
  }
}