.et_pb_module {
  &.et_pb {
    // Acordion
    &_accordion {
      &.et_pb_accordion_toggling {
        .et_pb_toggle_open {
          left: 0%;
          width: 100%;

          @include elevation(1);

          margin: 0 !important;
        }
      }

      .et_pb_toggle {
        background: $white;
        border: 0;

        @include elevation(1);

        margin: 0 !important;
        border-bottom: rem(1) solid rgba($black, 0.05);
        transition: 0.3s ease;

        &.et_pb_toggle_open {
          position: relative;
          left: -2%;
          width: 104%;

          @include elevation(3);

          margin: rem(24) 0 !important;
        }
      }
    }

    // Audio Module
    &_audio_module {
      border-radius: rem(2);

      @include elevation(1);
    }

    // Counter Module
    &_counters {
      .et_pb_counter_title,
      .et_pb_counter_amount_number {
        display: none;
      }

      .et_pb_counter_container {
        border-radius: rem(2);
        margin: 0 0 rem(12);
      }

      .et_pb_counter_amount {
        min-height: rem(4);
      }
    }

    // Blog Module
    &_posts {
      article {
        background: $white;
        border-radius: rem(2);

        @include elevation(1);

        margin: 0 0 rem(8);
        padding: rem(16);
        overflow: hidden;

        &.has-post-thumbnail {
          > a {
            &:first-child {
              display: block;
              margin: rem(-16) rem(-16) 0;
            }
          }

          h2 {
            margin: rem(16) 0 0;
          }
        }

        h2 {
          margin: 0;
        }
      }
    }

    // Blog Grid Module
    &_blog_grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .column {
        &.size {
          &-1of1 {
            article {
              margin: 0 0 rem(8) !important;
            }
          }

          &-1of2 {
            width: percentage(1 / 2) !important;
            padding: 0 rem(4);
            margin: 0 !important;
          }

          &-1of3 {
            width: percentage(1 / 3) !important;
            padding: 0 rem(4);
            margin: 0 !important;
          }
        }
      }

      article {
        background: $white;
        border: 0;
        border-radius: rem(2);

        @include elevation(1);

        margin: 0 0 rem(8);
        padding: rem(16);
        overflow: hidden;

        .et_pb_image_container {
          margin: rem(-16) rem(-16) 0;
        }
      }
    }

    // Blurb Module
    &_blurb {
      .et_pb_blurb_content {
        background: $white;
        border-radius: rem(2);
        padding: rem(16);

        @include elevation(1);
      }
    }

    // Countdown Timer Module
    &_countdown_timer {
      border-radius: rem(2);

      @include elevation(1);
    }

    // Email Optin Module
    &_newsletter,
    &_subscribe {
      border-radius: rem(2);

      @include elevation(1);
    }

    // Portfolio
    &_filterable_portfolio {
      .et_pb_portfolio_filters {
        margin: 0 0 rem(24);

        ul {
          border-bottom: 1px solid $divider-color;

          li {}

          a {
            background: 0;
            border: 0;
            border-radius: 0;
            margin: 0 0 rem(-1);
            padding: rem(6.5) rem(12);

            &.active {
              border-bottom: rem(2) solid $accent;
            }
          }
        }
      }

      .et_pb_portfolio_items_wrapper,
      .et_pb_portfolio_items {
        overflow: visible !important;
      }

      .et_pb_portfolio_items_wrapper:after {
        content: '';
        display: table;
        height: 0;
        clear: both;
      }

      .et_pb_portfolio_item {
        background: $white;
        border-radius: rem(2);
        margin: 0 0 rem(8);
        padding: rem(16);

        @include elevation(1);

        > a {
          &:first-child {
            display: block;
            margin: rem(-16) rem(-16) 0;

            img {
              display: block;
            }
          }
        }
      }

      .et_pb_portofolio_pagination {
        border-top: 1px solid $divider-color;
        margin: rem(24) 0 0;
      }

      &_grid {
        .et_pb_portfolio_item {
          width: calc(25% - 8px) !important;
          margin: 0 rem(4) !important;
          padding: rem(16);

          > a {
            &:first-child {
              display: block;
              margin: rem(-16) rem(-16) 0;
            }
          }
        }
      }
    }

    // Gallery Module
    &_gallery {
      border-radius: rem(2);

      @include elevation(1);

      &_grid {
        .et_pb_gallery_items {
          box-sizing: border-box;

          .et_pb_gallery_item {
            width: 25%;
            margin: 0;

            h3 {
              padding: rem(4) rem(16) rem(8);
            }
          }
        }
      }

      .et_pb_gallery_pagination {
        padding: rem(4) rem(8);

        &:after {
          content: '';
          display: table;
          height: 0;
          clear: both;
        }

        li.page {
          padding: 0;

          a {
            display: block;
            width: 24px;
            height: 24px;
            box-sizing: border-box;
            font-size: rem(14);
            line-height: 24px;
            text-align: center;
          }
        }

        li.prev,
        li.next {
          padding: 0;
        }

        .page-prev,
        .page-next {
          min-width: rem(88);
          padding: rem(5.5) rem(12) !important;
          border-radius: rem(2);
          font-size: rem(14);
          text-align: center;

          &:hover {
            background: rgba($black, 0.1);
          }
        }
      }
    }
  }
}